@using CourseSeller.Core.Services.Interfaces
@using CourseSeller.Core.DTOs.Order
@model CourseSeller.DataLayer.Entities.Orders.Order
@inject IUserPanelService _UserPanelService
@{
    ViewData["Title"] = "نمایش فاکتور";
    int sumOrder = Model.OrderSum;
    var userBalance = await _UserPanelService.GetUserBalance(User.Identity.Name);}

<div class="container">
    <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">@conf["SiteName"]</a></li>
            <li class="breadcrumb-item active" aria-current="page"> نمایش فاکتور </li>
        </ul>
    </nav>
</div>

<main>
    <div class="container">
        <div class="user-account">
            <div class="row">
                <partial name="_SideBar" model="null" />
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <section class="user-account-content">
                        <header><h1> فاکتور شما </h1></header>
                        
                        @if (TempData["isFinish"] as bool? == true)
                        {
                            <div class="alert alert-success">
                                فاکتور با موفقیت پرداخت گردید
                            </div>
                        }
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>دوره</th>
                                    <th>تعداد</th>
                                    <th>قیمت</th>
                                    <th>جمع</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.OrderDetails)
                                {
                                    <tr>
                                        <td>
                                            <a asp-area="" asp-controller="Course" asp-action="ShowCourse" asp-route-courseId="@item.CourseId" target="_blank">@item.Course.CourseTitle</a>
                                        </td>
                                        <td>
                                            @item.Count
                                        </td>
                                        <td>@item.CurrentPrice.ToString("#,0")</td>
                                        <td>
                                            @((item.Count * item.CurrentPrice).ToString("#,0"))
                                        </td>
                                    </tr>
                                }
                                @if (!Model.IsFinished)
                                {
                                    <tr>
                                        <td colspan="3" class="text-left">کد تخفیف</td>
                                        <td>
                                            <form asp-action="UseDiscount" asp-route-orderId="@Model.OrderId" method="post">
                                                <input type="hidden" name="orderId" value="@Model.OrderId" />
                                                <input type="text" name="discountCode" class="form-control" />
                                                <input type="submit" class="btn btn-primary btn-block" style="margin-top: 5px" value="اعمال" />
                                            </form>
                                            @{
                                                #nullable enable
                                                var discountType = TempData["errType"];

                                            }
                                            @if (discountType != null)
                                            {
                                                switch (discountType)
                                                {
                                                    case (int)DiscountErrorType.Success:
                                                        {
                                                            <div class="alert alert-success">
                                                                <p class="text-muted">کد با موفقیت اعمال شد</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case (int)DiscountErrorType.NotStarted:
                                                    {
                                                        <div class="alert alert-danger">
                                                            <p class="text-muted">تاریخ شروع کد تخفیف هنور فرا نرسیده است</p>
                                                        </div>
                                                        break;
                                                    }
                                                    case (int)DiscountErrorType.FinishedTime:
                                                        {
                                                            <div class="alert alert-danger">
                                                                <p class="text-muted">تاریخ کد به اتمام رسیده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case (int)DiscountErrorType.NotFound:
                                                        {
                                                            <div class="alert alert-warning">
                                                                <p class="text-muted">کد معتبر نیست</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case (int)DiscountErrorType.Finished:
                                                        {
                                                            <div class="alert alert-danger">
                                                                <p class="text-muted">کد به اتمام رسیده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                    case (int)DiscountErrorType.UserUsed:
                                                        {
                                                            <div class="alert alert-info">
                                                                <p class="text-muted">این کد قبلا توسط شما استفاده شده است</p>
                                                            </div>
                                                            break;
                                                        }
                                                }
                                            }
                                        </td>
                                    </tr> 
                                }
                                <tr>
                                    <td colspan="3" class="text-left">جمع کل</td>
                                    <td>
                                        @{
                                            var beforeDiscountPrice = 0;
                                            foreach (var od in Model.OrderDetails)
                                            {
                                                beforeDiscountPrice += od.CurrentPrice * od.Count;
                                            }
                                        }
                                        <style>
                                            .line-through {
                                                text-decoration: line-through;
                                            }
                                        </style>
                                        <span class="text-success">@sumOrder.ToString(" #,0")</span>  @if (beforeDiscountPrice != sumOrder)
                                        {
                                            <span class="text-danger line-through">@beforeDiscountPrice.ToString(" #,0")</span>
                                        }
                                    </td>
                                </tr>
                                @if (!Model.IsFinished)
                                {
                                    <tr>
                                        <td colspan="2" class="text-left"></td>
                                        <td colspan="2">
                                            @if (userBalance >= sumOrder)
                                            {
                                                <a asp-controller="Order" asp-action="FinishOrder" asp-route-orderId="@Model.OrderId" class="btn btn-success btn-block" >تایید فاکتور</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-success btn-block" disabled>تایید فاکتور</a>
                                                <div class="alert alert-danger">
                                                    موجودی کیف پول شما کافی نمی باشد ، لطفا از طریق این
                                                    <a asp-controller="Wallet" asp-action="Index" class="alert-link">لینک</a>
                                                    اقدام به شارژ حساب کنید
                                                </div>
                                            }

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </section>
                </div>
            </div>
        </div>
    </div>
</main>